/* HEX */
/* GRADIENT */
html {
    font-family: "Spartan", sans-serif;
    font-size: 20px;
    -webkit-font-variant-ligatures: no-common-ligatures;
            font-variant-ligatures: no-common-ligatures;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #1a936fff;
    color: #f3e9d2ff;
    margin: 0;
    padding: 0;
}

p {
    font-family: "Space Mono", monospace;
}

a {
    outline: none;
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
    color: #1a936fff;
}

a:hover {
color: #88d498ff;
}

h1 {
font-size: 2rem;
text-shadow: 3px 3px 0px #114b5fff;
}

@-webkit-keyframes fadeInUp {
0% {
    opacity: 0;
    -webkit-transform: translateY(-110%);
    transform: translateY(-110%);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}
}

@keyframes fadeInUp {
0% {
    opacity: 0;
    -webkit-transform: translateY(-110%);
    transform: translateY(-110%);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}
}

#hero {
padding-top: 50px;
}

@media (min-width: 576px) {
#hero {
    padding-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
}
}

#hero #hero-content {
margin-left: 3vw;
}

#hero #hero-content #name {
font-size: 4rem;
margin: 0;
text-shadow: 6px 6px 0px #114b5fff;
}

#hero #hero-content #tagline {
font-family: "Space Mono", monospace;
font-size: 2rem;
margin-top: 0;
margin-bottom: 1rem;
}

#hero #hero-content #social-links {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

#hero #hero-content #social-links li {
display: block;
margin-bottom: 1rem;
font-size: 1.5rem;
}

@media (min-width: 576px) {
#hero #hero-content #social-links li {
    display: inline-block;
    margin-right: 1.5rem;
}
}

#hero #hero-content #social-links li a {
color: #c6dabfff;
text-decoration: none;
}

#hero #hero-content #social-links li:nth-child(1) {
-webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
-webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
-webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
-webkit-animation-fill-mode: both;
        animation-fill-mode: both;
}

#hero #hero-content #social-links li:nth-child(2) {
-webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
-webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
-webkit-animation-delay: 0.7s;
        animation-delay: 0.7s;
-webkit-animation-fill-mode: both;
        animation-fill-mode: both;
}

#hero #hero-content #social-links li:nth-child(3) {
-webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
-webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
-webkit-animation-delay: 1.1s;
        animation-delay: 1.1s;
-webkit-animation-fill-mode: both;
        animation-fill-mode: both;
}

#hero #hero-content #social-links li:nth-child(4) {
-webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
-webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
-webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;
-webkit-animation-fill-mode: both;
        animation-fill-mode: both;
}

#hero #scroll-link {
text-align: center;
display: block;
}

#hero #scroll-icon {
width: 20px;
margin: auto;
fill: #f3e9d2ff;
position: initial;
}

@media (min-width: 576px) {
#hero #scroll-icon {
    position: absolute;
    padding: 10px;
    bottom: 5vh;
    left: 50%;
}
}

#projects {
max-width: 1200px;
margin: 0 auto;
padding: 1vw;
}

#projects #projects-content {
margin: 0 5%;
}

#projects .project-title-bar {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

#projects .project-title-bar h3 {
margin-bottom: 0;
min-width: 40%;
}

#projects .project-links {
display: -webkit-inline-box;
display: -ms-inline-flexbox;
display: inline-flex;
}

#projects .project-links li {
margin: 0;
margin-right: 20px;
font-size: 1.5rem;
}

#projects .project-links li:last-child {
margin-right: 0px;
}

#projects #projects-header {
font-size: 2rem;
text-shadow: 3px 3px 0px #114b5fff;
}

#projects ul {
list-style-type: none;
margin: 0;
padding: 0;
}

#projects ul li {
margin: 30px 0;
}

.light-box {
padding: 20px;
border-radius: 10px;
-webkit-box-shadow: 10px 10px 0px #114b5fff;
        box-shadow: 10px 10px 0px #114b5fff;
background-color: #f3e9d2ff;
color: #114b5fff;
}
/*# sourceMappingURL=styles.css.map */

.more-proj{
text-align: center;
font-weight: bold;
font-size: 30px;
}

.more-proj a{
text-decoration: none;
}